body {
    margin: 0;
    text-align: center;
    background-color: #ecc6f9;
    color: #2A2F4F;
  }
  
  h1 {
    font-size: 5.625rem;
    color: #2A2F4F;
    text-shadow: 1px 1px #ff0000;
    font-family:'Courier New', Courier, monospace;
    margin: 50px auto 0 auto;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    color:#2A2F4F ;
    text-shadow: 0.5px 0, 5px #ff0000;
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2A2F4F  ;
  }
  
  .top-container {
    background-color: #ffffff;
    height: auto;
    margin: 0 auto 6.5rem auto;
    padding: 20px;
  }
  
  .imgg{
    width: 100%;
  }
  
  hr {
    border-style: dotted none;
    border-color: purple;
    border-width: 5px;
    height: 0;
    width: 50%;
  }
  

  
  .top-cloud {
    position: relative;
    left: 300px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 300px;
  }
  
  .top-pic {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  .datamining {
    border-radius: 100%;
    width: 50%;
    opacity: 0.7;
    float: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .datainterpretation {
    border-radius: 100%;
    float: center;
    width: 50%;
    opacity: 0.7;
    margin-left: 100px;
    margin-right: 100px;
  }
  .reportgeneration {
    border-radius: 100%;
    float: center;
    width: 50%;
    opacity: 0.7;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  
  .middle-container {
    background-color: #FDE2F3;
    font-family: 'Montserrat', sans-serif;
  }
  
  .profile {
    margin: auto 200px 100px 200px;
    line-height: 2;
  }
  
  .skills {
    margin-top: 100px;
    margin-bottom: 200px;
  }
  
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }
  
  .bottom-container {
    background-color: #FDE2F3;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: center;
    margin: 20px auto 3.5rem auto;
    padding: 30px;
    width: auto;
    height: auto;
  }
  
  .copyright {
    padding-top: 20px;
    margin-bottom: 0;
  }
  
  .footer-link {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .contact-me {
    padding-bottom: 4.5 rem;
    margin:  200px 200px;
    margin-bottom: 200px;
  }
  
  .btn1 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    font-family:'Courier New', Courier, mospace;
    font-size: 1.5rem;
    color: #2A2F4F;
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
    border-radius: 60px;
    border-width: 0;
    background:#2A2F4F(238, 174, 202);
    background: radial-gradient(circle, rgb(229, 190, 236) 0%, rgba(253, 226, 243, 1) 100%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
  }
  